.pizzaNav {
  width: 100%;
  background-color: #231f20;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: sticky;
  top: 167px;
  z-index: 50;
}

.pizzaNavItem {
  display: flex;
  align-items: center;
}

.pizzaNavBtn {
  background: none;
  border: none;
  font-size: 0.85rem;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.pizzaNavBtnActive {
  color: #05a550;
}

.pizzaNavBtn:hover {
  color: #05a550;
}

.pizzaNavDivider {
  color: #666;
}
