.home {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: url("../../assets/jet-home.svg") no-repeat center center / cover;
  max-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.homeHero {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

.homeTitleBx {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  width: 675px;
  height: 625px;
  margin-left: 60px;
  justify-content: center;
}

.homeTitle {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-align: left;
  align-self: flex-start;
  gap: 20px;
}

.homeTitleOrder {
  font-size: 128px;
  line-height: 80px;
  letter-spacing: 4%;
}

.homeTitleFresh {
  font-size: 75px;
  line-height: 80px;
  letter-spacing: 0%;
}

.homeTitleNear {
  font-size: 75px;
  line-height: 40px;
  letter-spacing: 10%;
}

.homeLocationTitle {
  font-size: 1.875rem;
  margin-top: 100px;
}

.homeLocationText {
  background-color: #f5e1cf;
  color: #9d9d9d;
  width: 479px;
  height: 73px;
  border-radius: 43px;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 0 20px;
}

.homeSongBtn {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 12px;
  cursor: pointer;
  width: 479px;
}

.homeSongBtn:hover {
  color: #05a550;
}

.homeHeroGreen {
  position: absolute;
  top: 100px;
  right: -20px;
  width: 900px;
  height: 950px;
  z-index: 2;
  pointer-events: none;
}

.homeHeroImgBx {
  width: 727px;
  height: 786px;
  border-radius: 0 0 0 100%;
  overflow: hidden;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 3;
}

.homeHeroImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1600px) {
  .homeHero {
    padding-top: 140px;
  }

  .homeTitleBx {
    width: 900px;
    margin-left: 60px;
    gap: 20px;
  }

  .homeTitleOrder {
    font-size: 200px;
    line-height: 180px;
  }

  .homeTitleFresh {
    font-size: 118px;
    line-height: 120px;
  }

  .homeTitleNear {
    font-size: 118px;
    line-height: 120px;
  }

  .homeLocationText {
    width: 600px;
  }

  .homeSongBtn {
    width: 600px;
  }
}
