.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  box-sizing: border-box;
  height: 100px;
  background-color: #000;
}

.logo {
  height: 40px;
}

.nav {
  display: flex;
  gap: 20px;
  height: 50px;
  max-width: 100%;
  width: 632px;
}

.navBtn {
  padding: 10px 24px;
  border-radius: 50px;
  border: 2px solid #fff;
  background: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border-color: #05a550bf;
  width: 100%;
  text-align: center;
}

.navBtn:hover {
  background-color: #f5f5f5;
}
